For this assignment, you will be required to explore and cluster the neighborhoods in Toronto.

    Start by creating a new Notebook for this assignment.
    Use the Notebook to build the code to scrape the following Wikipedia page, https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M, in order to obtain the data that is in the table of postal codes and to transform the data into a pandas dataframe like the one shown below:

# Scraping Data

In [53]:
import pandas as pd
import numpy as npb

In [54]:
import urllib.request
from bs4 import BeautifulSoup
import requests

##    ~The dataframe will consist of three columns: PostalCode, Borough, and Neighborhood
    ~Only process the cells that have an assigned borough. Ignore cells with a borough that is Not assigned.
    More than one neighborhood can exist in one postal code area. For example, in the table on the Wikipedia page, you will notice that M5A is listed twice and has two neighborhoods: Harbourfront and Regent Park. These two rows will be combined into one row with the neighborhoods separated with a comma as shown in row 11 in the above table.

    If a cell has a borough but a Not assigned neighborhood, then the neighborhood will be the same as the borough. So for the 9th cell in the table on the Wikipedia page, the value of the Borough and the Neighborhood columns will be Queen's Park.
    Clean your Notebook and add Markdown cells to explain your work and any assumptions you are making.
    In the last cell of your notebook, use the .shape method to print the number of rows of your dataframe.

# Scrape Data from Wikipedia

In [55]:
#Scrape Data and load into data frame 
request = requests.get('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M')
df = pd.read_html('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M',header=0)[0]
#Rename Columns
df.rename(columns = {'Postcode' : 'PostalCode'}, inplace = True)

# Remove unassigned Boroughs

In [62]:
df2 = df[df['Borough'] != 'Not assigned']
df2.head(9)

   PostalCode           Borough     Neighbourhood
2         M3A        North York         Parkwoods
3         M4A        North York  Victoria Village
4         M5A  Downtown Toronto      Harbourfront
5         M5A  Downtown Toronto       Regent Park
6         M6A        North York  Lawrence Heights
7         M6A        North York    Lawrence Manor
8         M7A      Queen's Park      Not assigned
10        M9A         Etobicoke  Islington Avenue
11        M1B       Scarborough             Rouge

# Join neighbourhoods under same postal code and replace unassigned neighbourhoods with their Borough

In [64]:
df2=df2.groupby("PostalCode").agg(lambda x:', '.join(set(x)))
df2.loc[df2['Neighbourhood'] == 'Not assigned', ['Neighbourhood']] = df2['Borough']
df2.reset_index(inplace = True)

df2.head(10)

  PostalCode      Borough                                    Neighbourhood
0        M1B  Scarborough                                   Malvern, Rouge
1        M1C  Scarborough           Port Union, Highland Creek, Rouge Hill
2        M1E  Scarborough                West Hill, Guildwood, Morningside
3        M1G  Scarborough                                           Woburn
4        M1H  Scarborough                                        Cedarbrae
5        M1J  Scarborough                              Scarborough Village
6        M1K  Scarborough      Ionview, East Birchmount Park, Kennedy Park
7        M1L  Scarborough                  Clairlea, Golden Mile, Oakridge
8        M1M  Scarborough  Scarborough Village West, Cliffcrest, Cliffside
9        M1N  Scarborough                      Birch Cliff, Cliffside West

In [65]:
#Verify the above line worked 
df2[df2['Borough'] == "Queen's Park"]

   PostalCode       Borough Neighbourhood
85        M7A  Queen's Park  Queen's Park

In [66]:
#Shape of final dataframe
df2.shape

(103, 3)